<nav class="navbar navbar-dark bg-dark">
    <p class="navbar-brand ms-4">Bohdan Blog</p>
    <form class="d-flex me-4">
        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#signInModal" [hidden]="signed">Sign In</button>
        <button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#signUpModal" [hidden]="signed">Sign Up</button>

        <button class="btn btn-outline-success" type="button" data-bs-toggle="modal" data-bs-target="#addPostModal" [hidden]="signedInfo">Add post</button>
        <div class="bg-warning text-center text-black" style="width: fit-content;">{{ userName }}</div>
        <button class="btn btn-outline-warning" type="button"   [hidden]="signedInfo" (click)="signOut()">Sign Out</button>
    </form>
</nav>


<!-- POSTS -->


<div class="container col-8">
    <div class="card w-100 mt-4 border border-secondary" *ngFor="let post of postArray">
        <h2 class="card-header">{{ post.topic }}</h2>
        <div class="card-body">
            <p class="" style="width:fit-content">
                <small class="text-muted">Posted by: {{ post.postedBy }}</small>
            </p>

            <p class="card-text">{{ post.massage }}</p>
            <small class="text-muted" style="width:fit-content;">&#9716; {{ post.date | date: 'HH:mm dd.MM.YYYY' }}</small>
        </div>
        <div class="d-flex" *ngIf="userName === post.postedBy || userName === 'admin'">
            <button type="button" class="btn btn-warning" style="width: 100px; margin-right: 10px;" data-bs-toggle="modal" data-bs-target="#addPostModal" (click)="editPost(post)">Edit</button>
            <button type="button" class="btn btn-danger" style="width: 100px;"  (click)="deletePost(post)">Delete</button>
        </div>
    </div>
</div>


<!-- MODAL SIGN IN -->
<div class="modal fade" id="signInModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign In</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="signInEmailInput" class="form-label">Email address</label>
                      <input name="signInEmailInput" type="email" class="form-control" id="signInEmailInput" [(ngModel)]="signInEmailInput">
                    </div>
                    <div class="mb-3">
                      <label for="signInPasswordInput" class="form-label">Password</label>
                      <input name="signInPasswordInput" type="password" class="form-control" id="signInPasswordInput" [(ngModel)]="signInPasswordInput">
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="signInSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL SIGN UP -->
<div class="modal fade" id="signUpModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="signUpUserInput" class="form-label">Username</label>
                        <input name="signUpUserInput" type="text" class="form-control" id="signUpUserInput" [(ngModel)]="signUpUserInput">
                      </div>
                    <div class="mb-3">
                      <label for="signUpEmailInput" class="form-label">Email address</label>
                      <input name="signUpEmailInput" type="email" class="form-control" id="signUpEmailInput"  [(ngModel)]="signUpEmailInput">
                    </div>
                    <div class="mb-3">
                      <label for="signUpPasswordInput" class="form-label">Password</label>
                      <input name="signUpPasswordInput" type="password" class="form-control" id="signUpPasswordInput"  [(ngModel)]="signUpPasswordInput">
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="signUpSubmit()">Submit</button>
            </div>
        </div>
    </div>
</div>

<!-- MODAL ADD POST -->
<div class="modal fade" id="addPostModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModalAdd()"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                      <label for="addPostTitleInput" class="form-label">Title:</label>
                      <input name="addPostTitleInput" type="text" class="form-control" id="addPostTitleInput" [(ngModel)]="addPostTitleInput">
                    </div>
                    <div class="mb-3">
                      <label for="addPostMassageInput" class="form-label">Text:</label>
                      <textarea name="addPostMassageInput" [(ngModel)]="addPostMassageInput" id="addPostMassageInput" class="form-control"></textarea>
                    </div>
                  </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button *ngIf="!editStatus" type="button" class="btn btn-success" data-bs-dismiss="modal" [disabled]="!addPostTitleInput && !addPostMassageInput" (click)="addPost()">Post</button>
                <button *ngIf="editStatus" type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="savePost()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="reklama" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQxCgYOgHmN5jdz_T0RLYI9BUhR6nYs2fK8NA&usqp=CAU" alt="">
    <p>reklama</p>
</div>